<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scane New</title>
    <style>
        video {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        #container_div
        {
            color:white; margin-top: 2rem; 
            padding-top: 2rem;
            padding-bottom: 2rem; 
            text-align: center;
            border: 2px dashed #f69c55;
        }
    </style>
    <script src="https://unpkg.com/html5-qrcode"></script>
    <script src="/static/jquery.js"></script>
</head>

<body>
    <center>
        <div style="width: 500px" id="reader"></div>
        <div style="padding-top: 5px;">
            <button id="start_scanning">Start Scanning</button>
            <button id="stop_scanning">Stop Scanning</button>
        </div>
    </center>
    <div id="container_div">
        <center><h1 id="headin_tag">This is smit patel</h1></center>
    </div>

    <script>
        var prev = ""
        var start_scanning = document.getElementById("start_scanning")
        const html5QrCode = new Html5Qrcode("reader");
        start_scanning.addEventListener("click", () => {
            // This method will trigger user permissions
            Html5Qrcode.getCameras().then(devices => {
                /**
                 * devices would be an array of objects of type:
                 * { id: "id", label: "label" }
                 */
                if (devices && devices.length) {
                    var cameraId = devices[0].id;
                    // .. use this to start scanning.
                }
            }).catch(err => {
                console.log("Error : Can not access camera.")
            });

            // const html5QrCode = new Html5Qrcode("reader");
            const qrCodeSuccessCallback = (decodedText, decodedResult) => {
                if (prev == decodedText) {
                }
                else
                {
                    callAjax(decodedText);
                }
                prev = decodedText
                // console.log("prev" + prev)
            };
            const config = { fps: 10, qrbox: { width: 225, height: 225 } };

            // If you want to prefer front camera
             //html5QrCode.start({ facingMode: "user" }, config, qrCodeSuccessCallback);

            // If you want to prefer back camera
            html5QrCode.start({ facingMode: "environment" }, config, qrCodeSuccessCallback);

            // Select front camera or fail with `OverconstrainedError`.
            // html5QrCode.start({ facingMode: { exact: "user" } }, config, qrCodeSuccessCallback);

            // Select back camera or fail with `OverconstrainedError`.
            // html5QrCode.start({ facingMode: { exact: "environment" } }, config, qrCodeSuccessCallback);
        })

        var stop_button = document.getElementById("stop_scanning")
        stop_button.addEventListener("click", () => {
            html5QrCode.stop().then((ignore) => {
                // QR Code scanning is stopped.
            }).catch((err) => {
                console.log("Error : QR Code Scanning is failed.")
            });
        })

        function callAjax(encMessage)
        {
            $.ajax({
                    url: '/QRScane/ajaxCall', 
                    type: 'post', 
                    data: {
                        'encMessage':encMessage,
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                    },
                    success: function (response) {
                        // Perform operation on return value
                        console.log("Decoded Data : " + response['Message'])
                        var heading = document.getElementById('headin_tag')
                        {% comment %} heading.innerHTML = "This is smit" {% endcomment %}
                        if(response['success'] == 'true')
                        {
                            document.getElementById('container_div').style.backgroundColor = "#5aa95a"
                            heading.innerHTML = response['Message']
                        }
                        else if(response['success'] == 'false')
                        {
                            document.getElementById('container_div').style.backgroundColor = "red"
                            heading.innerHTML = response['Message']
                        }
                    },
                });
        }

        document.body.onkeyup = function(e) {
            if (e.key == " " ||
                e.code == "Space" ||      
                e.keyCode == 32      
            ) {
              console.log("spacebar hit")
            }
          }

       
    </script>
</body>

</html>