<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <h1>Greeting From TEAM GENESIS</h1>
    <p>We are glade to invite you in the Night Function For the BVM event Genesis.</p>
    <p>Below is the QR Code to for entry in the event.</p>
    <p><Strong>Note :- </Strong> Do not share Your QR Code Because it can be used only once.</p>
    <p> <img src="cid:image1" alt='This is QR Code'></p>
</body>
</html>