<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Generate Index</title>
</head>
<body>
    <b><i>This is the index page of the app QRGenerate</i></b>
    <p><h3>Below is the complete URL to send the email :</h3></p>
    <p>https://qrcodegenerateapi.herokuapp.com/QRGenerate/MakeQR/[destination email]/[string to be encode in QR code]</p>
</body>
</html>