<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <h1>Greeting From TEAM GENESIS</h1>
    <p>
        BVM is often distinguished for its charismatic techno-cultural radiance. In light of that mind, TEAM BVM is thrilled to announce that we are returning with  GENESIS'22  after a two-year-long hiatus.</p>
    <p>
    <p>
        Under <strong>GENESIS'22</strong> we have organized a spectacular night THANGANAT'22 -The Garba Night, where hundreds of students will dive into an ocean of extravagant resonance and symphany to the enchanting sounds of a garba band.
    </p> 
    <img src="cid:image1" alt='This is QR Code'></p>
    <p>
        Date: 12th Nov,2022
        <br>
        Time: <br />
        For boys: 7:00 PM <br/>
        For Girls: 6:00 PM
        <br>
        Venue: Front Lawn

    </p>
</body>
</html>